In [1]:
import pandas as pd
import numpy as np

In [2]:
d1  = pd.read_csv('../data/D1.csv', low_memory=False)

In [3]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50031 entries, 0 to 50030
Data columns (total 39 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id              50031 non-null  int64
 1   patient_nbr               50031 non-null  int64
 2   race                      50031 non-null  object
 3   gender                    50031 non-null  object
 4   age                       50031 non-null  object
 5   weight                    50031 non-null  object
 6   admission_type_id         50031 non-null  int64
 7   discharge_disposition_id  50031 non-null  int64
 8   admission_source_id       50031 non-null  int64
 9   length_of_stay            50031 non-null  int64
 10  payer_code                50031 non-null  object
 11  medical_specialty         50031 non-null  object
 12  num_lab_procedures        50031 non-null  int64
 13  num_procedures            50031 non-null  int64
 14  num_medications           50031 non-null  int64
 15  number_outpatient         50031 non-null  object
 16  number_emergency          50031 non-null  object
 17  number_inpatient          50031 non-null  object
 18  diag_1                    50031 non-null  object
 19  diag_2                    50031 non-null  object
 20  diag_3                    50031 non-null  object
 21  number_diagnoses          50031 non-null  int64
 22  diabetes                  50031 non-null  object
 23  max_glu_serum             4639 non-null   object
 24  A1Cresult                 7613 non-null   object
 25  metformin                 50031 non-null  object
 26  repaglinide               50031 non-null  object
 27  nateglinide               50031 non-null  object
 28  chlorpropamide            50031 non-null  object
 29  glimepiride               50031 non-null  object
 30  acetohexamide             50031 non-null  object
 31  glipizide                 50031 non-null  object
 32  glyburide                 50031 non-null  object
 33  tolbutamide               50031 non-null  object
 34  insulin                   50031 non-null  object
 35  change                    50031 non-null  object
 36  diabetesMed               50031 non-null  object
 37  readmitted                50031 non-null  object
 38  single_day_admission      50031 non-null  object
dtypes: int64(10), object(29)
memory usage: 14.9+ MB

In [4]:
d1.gender.value_counts(dropna=False)

gender
Female             27000
Male               23030
Unknown/Invalid        1
Name: count, dtype: int64

In [5]:
d1.weight.value_counts(dropna=False)

weight
?            48169
[75-100)       794
[50-75)        550
[100-125)      316
[125-150)       73
[25-50)         68
[0-25)          37
[150-175)       17
[175-200)        6
>200             1
Name: count, dtype: int64

In [6]:
d1.number_emergency.value_counts(dropna=False)

number_emergency
0     46185
1      2629
2       644
3       232
4       132
?        69
5        45
6        27
7        24
8        16
9        10
10        8
11        3
22        2
25        1
13        1
42        1
16        1
28        1
Name: count, dtype: int64

Make a copy of the original dataframe to correct the mismatched variables

In [7]:
d1_copy = d1.copy(deep=True)

Fix up the mismatched data

In [8]:
d1_copy['number_outpatient'] = d1_copy['number_outpatient'].replace('?', np.nan).astype('Int64')
d1_copy['number_emergency'] = d1_copy['number_emergency'].replace('?', np.nan).astype('Int64')
d1_copy['number_inpatient'] = d1_copy['number_emergency'].replace('?', np.nan).astype('Int64')

In [9]:
d1_copy[['number_outpatient', 'number_emergency', 'number_inpatient']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50031 entries, 0 to 50030
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   number_outpatient  50011 non-null  Int64
 1   number_emergency   49962 non-null  Int64
 2   number_inpatient   49962 non-null  Int64
dtypes: Int64(3)
memory usage: 1.3 MB

### Task 2 - EDA

In [10]:
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
d1.isna().sum()

In [ ]:
numeric_cols = d1_copy.select_dtypes(include=['Int64'])

Ignore the encounter_id and patient_nbr columns. Also the admission_type_id, discharge_disposition_id, and admission_source_id as these are reference keys for categorical variables in lookup tables

In [ ]:
numeric_cols.info()

In [ ]:
d1_numeric = d1_copy[['length_of_stay', 'num_lab_procedures', 'num_procedures', 'num_medications', 'number_diagnoses']]

In [ ]:
sns.histplot(d1['length_of_stay'], bins=6)

In [ ]:
# make an IQR with sns using the d1_numeric dataframe
plt.figure(figsize=(10, 5))
sns.boxplot(data=d1_numeric)
plt.xticks(rotation=45)
plt.show()